# Ignore virtual environment
ey_env/

# Ignore environment files
.env
.env.*

# Ignore OS/system files
__pycache__/
*.pyc
.DS_Store

# Ignore Streamlit specific files
.streamlit/

# Ignore logs
*.log
logs/

output/

converstaion_logs.txt